@model estacionamientos.Models.Duenio
@{
    ViewData["Title"] = "Eliminar dueño";
}
<h1>@ViewData["Title"]</h1>
<hr />

<div class="alert alert-danger">
    ¿Desea eliminar el dueño?
</div>

<dl class="row">
    <dt class="col-sm-3">II</dt><dd class="col-sm-9">@Model.UsuNU</dd>
    <dt class="col-sm-3">Nombre y apellido</dt><dd class="col-sm-9">@Model.UsuNyA</dd>
    <dt class="col-sm-3">Correo electrónico</dt><dd class="col-sm-9">@Model.UsuEmail</dd>
    <dt class="col-sm-3">CUIT</dt><dd class="col-sm-9">@Model.DueCuit</dd>
</dl>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="UsuNU" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
