@model estacionamientos.Models.Conductor
@{
    ViewData["Title"] = "Detalles del conductor";
}
<h1>@ViewData["Title"]</h1>
<hr />

<dl class="row">
    <dt class="col-sm-3">ID</dt><dd class="col-sm-9">@Model.UsuNU</dd>
    <dt class="col-sm-3">Nombre y apellido</dt><dd class="col-sm-9">@Model.UsuNyA</dd>
    <dt class="col-sm-3">Correo electrónico</dt><dd class="col-sm-9">@Model.UsuEmail</dd>
    <dt class="col-sm-3">Teléfono</dt><dd class="col-sm-9">@Model.UsuNumTel</dd>
</dl>

<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex gap-2">
        <a asp-action="EditConductor" asp-route-id="@Model.UsuNU" class="btn btn-warning">Editar</a>
    </div>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fa-solid fa-arrow-left"></i> Volver
    </a>
</div>
